<% include partials/header %>
<h1>This is The Blogs Page</h1>
<% blogs.forEach(function(blog){ %>
    <div>
        <h4>
            <%=blog.title%>
        </h4>
        <img src="<%=blog.image%>" alt="">
        <p>
            <%=blog.body%>
        </p>
    </div>
<%})%>

<% include partials/footer %>